// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//font-family: 'Roboto Condensed', sans-serif;
 @import "bootstrap";
 @import "font-awesome";
 /* GLOBAL STYLES
 -------------------------------------------------- */
 /* Padding below the footer and lighter body text */

 .title, h2, h3, h4, .h2, .h3, .h4 {
     font-family: 'ITC Franklin Gothic W05', sans-serif !important;
     -webkit-font-stretch: condensed;
     font-stretch: condensed;
 }

 body {
   //padding-top: 3rem;
   padding-bottom: 0;
   color: #5a5a5a;
   background: #f3f3f3;
 }
 .blackout {
//    position: absolute;
justify-content: center !important;
top: 0;
align-items: center !important;

}
.img-box{
  background: rgba(0,0,0,0.4);
}
.foto a{
  vertical-align: middle;
}
.row {
  display: flex;
  vertical-align: middle;
}
.form-group {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;


  img {
    display: block;
    max-width:275px;
    max-height:206.25px;
    width: auto;
    height: auto;
  }
}
.test{
  position:absolute;
  font-size:30px;
  top: 0;
  background: rgba(0,0,0,0.4);
  width: 100%;
  height: 100%;
  text-transform: uppercase !important;


    -webkit-box-pack: center !important;
  justify-content: center !important;
  &:hover{
    background: rgba(0,0,0,0.6);
  }

  h3{
      justify-content: center;
      text-align: center !important;
      color: white;

  }
}



.button-aux{
  a{
    color: white;

  }
}
.caption{
//  vertical-align: middle;
}


 /* CUSTOMIZE THE CAROUSEL
 -------------------------------------------------- */

 /* Carousel base class */
 .carousel {
   margin-bottom: 4rem;
 }
 /* Since positioning the image, we need to help out the caption */
 .carousel-caption {
   bottom: 3rem;
   z-index: 10;
 }

 /* Declare heights because of positioning of img element */
 .carousel-item {
   height: 32rem;
   background-color: #777;
 }
 .carousel-item > img {
   position: absolute;
   top: 0;
   left: 0;
   min-width: 100%;
   height: 32rem;
 }


 /* MARKETING CONTENT
 -------------------------------------------------- */

 /* Center align the text within the three columns below the carousel */
 .marketing .col-lg-4 {
   margin-bottom: 1.5rem;
   text-align: center;
 }
 .marketing h2 {
   font-weight: 400;
 }
 .marketing .col-lg-4 p {
   margin-right: .75rem;
   margin-left: .75rem;
 }


 /* Featurettes
 ------------------------- */

 .featurette-divider {
   margin: 5rem 0; /* Space out the Bootstrap <hr> more */
 }

 /* Thin out the marketing headings */
 .featurette-heading {
   font-weight: 300;
   line-height: 1;
   letter-spacing: -.05rem;
 }


 /* RESPONSIVE CSS
 -------------------------------------------------- */

 @media (min-width: 40em) {
   /* Bump up size of carousel content */
   .carousel-caption p {
     margin-bottom: 1.25rem;
     font-size: 1.25rem;
     line-height: 1.4;
   }

   .featurette-heading {
     font-size: 50px;
   }
 }

 @media (min-width: 62em) {
   .featurette-heading {
     margin-top: 7rem;
   }
 }


.navbar{
  background-color: #f3f3f3;
}


////////////////////////////////////////////////////////////////

.image-r{
  cursor: pointer;
  overflow: hidden;
  padding: 5px;

  .captionn{
    position: absolute;
    top: 35%;
    left: 0;
    width: 100%;
    color: white;
    position: absolute; z-index: 1;
    font-size: 40px;
    opacity: 1;
    font-weight: bold;

}

  img {
//    overflow: hidden;

  //  width: 100%;
    //height: 100%;
    transition: all .5s ease-in;
  }
  &:hover{
  background: white;
  overflow: hidden;
  img{
    transform: scale(1.4);
    transition: all .5s ease-in;
  }
  .captionn{
    transform: translatey(20%);
    font-size: 50px;
    opacity: 1px;
    transition: all .5s ease-in;
  }
}
}
.title, h2, h3, h4, .h2, .h3, .h4 {
    font-family: 'Anton', sans-serif !important;
    -webkit-font-stretch: condensed;
    font-stretch: condensed;
    color: black;
}
.footer{
  background: black;
}

.aqp-postfooter{
  background-color: #fff;
  color: rgb(0, 0, 0);
  p{
    font-size: 1.2rem !important;
    color: rgb(0, 0, 0);
    margin-bottom: 0;
  }
}

.top .top-button {
    display: none;
}

.destacadosTop-header {
    width: 100%;
    text-align: center;
    height: 30px;
}
 .destacadosTop-title.two {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 20px;
}
.top .top_list ul {
    list-style: none;
    margin-top: 45px;
}
.destacadosTop-header.two p {
font-size: 12px;
}
.new_list_top_odd{
  overflow:hidden;
  width:83%;
  height:100%;
  margin:-4px;
  box-sizing: border-box;
  display: inline;




  .lazy_img.lazy_img-loaded {
  opacity: 1;
  }

  .lazy_img {
  -webkit-transition: opacity 500ms ease-in-out;
  -moz-transition: opacity 500ms ease-in-out;
  -o-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
  opacity: 0;
  }
  .img_top {
      width: 58px;
      height: 58px;
      background-size: cover;
      margin: 0!important;
  }



}
 .top .top_list p:first-child {
    text-transform: uppercase;
    font-size: .7em;
    letter-spacing: 2px;
    text-shadow: 1px 1px rgba(0,0,0,.2);
    font-family: 'Roboto Mono', monospace;
}
// .top .top_list > span{
//   float:right;
// }
//
//
//  .top .top_list p {
//   line-height: .9;
//   margin-left: 15px;
//   font-weight: 700;
//   font-size: 1.07em;
//   letter-spacing: 0;
//   margin-top: 15px;
//   width: 70%;
//   margin: 17px 0 0 3px!important;
//   display: inline-block;
//   color: black;}
//
.aqpleftside{
    .imagediv{


      width: 65px;
      height: 100%;

      float: left;
      .image{
        margin: 0!important;
        width: 58px;
        height: 58px;
        background-size: cover;
      }
    }
    p {
       line-height: .9;
       margin-left: 15px;
       font-weight: 700;
       font-size: 1.07em;
       letter-spacing: 0;
       margin-top: 15px;
       width: 70%;
       margin: 0px 0 0 3px!important;
       display: inline-block;
       color: black;
       margin-top: 0!important;

    }
        hr {
        width: 82%;
        float: right;
        display: block;
        margin: 5px;
        border: none;
        height: 1px;
        background: rgb(27,101,220);
        background: -moz-linear-gradient(to right,#83CDF1 16%,#9285BB 32%,#EE9EC0 48%,#EF997B 64%,#FFF29C 80%,#8EC699 96%);
        background: -webkit-linear-gradient(to right,#83CDF1 16%,#9285BB 32%,#EE9EC0 48%,#EF997B 64%,#FFF29C 80%,#8EC699 96%);
        background: linear-gradient(to right,#83CDF1 16%,#9285BB 32%,#EE9EC0 48%,#EF997B 64%,#FFF29C 80%,#8EC699 96%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1b65dc',endColorstr='#d96082',GradientType=1);
    }
  }
