// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//font-family: 'Roboto Condensed', sans-serif;
 @import "bootstrap";
 @import "font-awesome";
 /* GLOBAL STYLES
 -------------------------------------------------- */
 /* Padding below the footer and lighter body text */

 .title, h2, h3, h4, .h2, .h3, .h4 {
     font-family: 'ITC Franklin Gothic W05', sans-serif !important;
     -webkit-font-stretch: condensed;
     font-stretch: condensed;
 }

 body {
   //padding-top: 3rem;
   padding-bottom: 0;
   color: #5a5a5a;
   background: #f3f3f3;
 }
 .blackout {
//    position: absolute;
justify-content: center !important;
top: 0;
align-items: center !important;

}
.img-box{
  background: rgba(0,0,0,0.4);
}
.foto a{
  vertical-align: middle;
}
.row {
  display: flex;
  vertical-align: middle;
}
.form-group {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;


  img {
    display: block;
    max-width:275px;
    max-height:206.25px;
    width: auto;
    height: auto;
  }
}
.test{
  position:absolute;
  font-size:30px;
  top: 0;
  background: rgba(0,0,0,0.4);
  width: 100%;
  height: 100%;
  text-transform: uppercase !important;


    -webkit-box-pack: center !important;
  justify-content: center !important;
  &:hover{
    background: rgba(0,0,0,0.6);
  }

  h3{
      justify-content: center;
      text-align: center !important;
      color: white;

  }
}



.button-aux{
  a{
    color: white;

  }
}
.caption{
//  vertical-align: middle;
}


 /* CUSTOMIZE THE CAROUSEL
 -------------------------------------------------- */

 /* Carousel base class */
 .carousel {
   margin-bottom: 4rem;
 }
 /* Since positioning the image, we need to help out the caption */
 .carousel-caption {
   bottom: 3rem;
   z-index: 10;
 }

 /* Declare heights because of positioning of img element */
 .carousel-item {
   height: 32rem;
   background-color: #777;
 }
 .carousel-item > img {
   position: absolute;
   top: 0;
   left: 0;
   min-width: 100%;
   height: 32rem;
 }


 /* MARKETING CONTENT
 -------------------------------------------------- */

 /* Center align the text within the three columns below the carousel */
 .marketing .col-lg-4 {
   margin-bottom: 1.5rem;
   text-align: center;
 }
 .marketing h2 {
   font-weight: 400;
 }
 .marketing .col-lg-4 p {
   margin-right: .75rem;
   margin-left: .75rem;
 }


 /* Featurettes
 ------------------------- */

 .featurette-divider {
   margin: 5rem 0; /* Space out the Bootstrap <hr> more */
 }

 /* Thin out the marketing headings */
 .featurette-heading {
   font-weight: 300;
   line-height: 1;
   letter-spacing: -.05rem;
 }


 /* RESPONSIVE CSS
 -------------------------------------------------- */

 @media (min-width: 40em) {
   /* Bump up size of carousel content */
   .carousel-caption p {
     margin-bottom: 1.25rem;
     font-size: 1.25rem;
     line-height: 1.4;
   }

   .featurette-heading {
     font-size: 50px;
   }
 }

 @media (min-width: 62em) {
   .featurette-heading {
     margin-top: 7rem;
   }
 }


.navbar{
  background-color: #f3f3f3;
}


////////////////////////////////////////////////////////////////

.image-r{
  cursor: pointer;
  overflow: hidden;
  padding: 5px;

  .captionn{
    position: absolute;
    top: 35%;
    left: 0;
    width: 100%;
    color: white;
    position: absolute; z-index: 1;
    font-size: 40px;
    opacity: 1;
    font-weight: bold;

}

  img {
//    overflow: hidden;

  //  width: 100%;
    //height: 100%;
    transition: all 1s ease-in;
  }
  &:hover{
  background: white;
  overflow: hidden;
  img{
    transform: scale(1.4);
    transition: all 1s ease-in;
  }
  .captionn{
    transform: translatey(20%);
    font-size: 50px;
    opacity: 1px;
    transition: all 1s ease-in;
  }
}
}
.title, h2, h3, h4, .h2, .h3, .h4 {
    font-family: 'Anton', sans-serif !important;
    -webkit-font-stretch: condensed;
    font-stretch: condensed;
    color: black;
}
.footer{
  background: black;
}

.aqp-postfooter{
  p{
    font-size: 1.4rem !important;
  }
}
